@import "../../Styles/common/color";

.NewsGlobal
{

  &__Block
  {
    transition: all 0.25s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 725px;
    &__date
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 18px;
      position: absolute;
      top: 5%;
      width: 160px;
      color: White;
      background: $primary;
      margin-left: 20px;

    }
    &__image
    {
      &__img
      {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        height: 450px;
        object-fit: cover;
      }
    }
    &__text
    {
      background-color: white;
      margin-top: -70px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px;

      padding-left: 30px;
      padding-right: 30px;
      &__header
      {

      }
      &__txt
      {

      }

    }
  }
  &:hover &__Block:hover
  {
    box-shadow: 0 6px 16px 0 $shadow-color;

  }
}