@import '../../Styles/common/mixin';

.Communication__block__Card__bottom__block {
	margin-top: 55px;	
	width: 510px;
	grid-column: 1;
  grid-row: 2;
  font-family: 'Rubik';
}
	
.Communication__block__Card__right__bottom__block {
  @include setGridCell(2, 2);
  width: 478px;
	margin-top: 130px;
	margin-left: -145px;
	font-family: 'Rubik';
}

.Communication {
  @include size(100%, 600px);
	margin-top: -150px;
	margin-bottom: 800px;
	font-family: 'Rubik';

	&__block {
    @extend %centerHorizontallyFlex;
		position: absolute;
    width: 100%;
    font-family: 'Rubik';

		&__image {
			position: absolute;
			font-family: 'Rubik';

			&__image {
        @include size(1182px, 758px);
				margin-top: 250px;
				margin-right: 115px;
				transform: rotate(0deg);
				font-family: 'Rubik';
			}
		}

		&__Above {
      display: inline-grid;
      width: 100%;
			top: 100%;
      margin-top: -30px;
			margin-left: 80px;
			position: relative;
      grid-template-columns: auto auto auto;
      z-index: 1;
      font-family: 'Rubik';

			&__header {
				font-size: 32px;
				color: White;
				line-height: 1.63;
				font-family: 'Rubik';
				font-weight: normal;
				margin-top: 30px;
			}

			&__text {
				width: 500px;
				font-size: 16px;
				color: white;
				line-height: 1.5;
				font-family: 'Rubik';
				font-weight: normal;
			}
		}

		&__Card {
			margin-left: 100px;
			margin-top: 40px;
			font-family: 'Rubik';

			.Communication__block_Card__text {
				padding-top: 0;
				font-family: 'Rubik';
			}

			.Communication__block_Card__header {
				margin-bottom: 15px;
				font-family: 'Rubik';
			}
		}

	}
}
.grid-item {
  @include setGridCell(1, 1);
  font-family: 'Rubik';
}

.Communication__block__Card__right__block {
  @include setGridCell(1, 2);
  width: 478px;
	margin-top: 40px;
	margin-left: -145px;
	font-family: 'Rubik';
}