@import '../../Styles/common/color';

.input__validate-icon {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.35s ease-out;
  color: white;

  &--success {
    color: $primary;
  }
}
