@import "../../../Styles/common/color";
@import "../../../Styles/common/mixin";
@import "../TreatmentSpecialistWork";
.TretmantSpecialistWork__Item {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid $border-color;

  &__row {
    @extend %centerVerticallyFlex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

    &__avatar {
      margin-right: 20px;
    }

    &__header {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      transition: all 0.15s ease-in-out;

      &:hover {
        color: $primary;
      }
    }
  }

  &__row__2 {
    position: absolute;
    right: 25px;

    button {
      @include size(150px, 25px);
    }
  }

  &__HeaderRow {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    cursor: pointer;
    margin-bottom: 15px;
    border: 1px solid $border-color;

    &__cancel {
      margin-left: 10px;

      span {
        margin-right: 5px;
      }
    }

    &__header {
      color: black!important;
      font-weight: 400;
      position: absolute;
      font-size: 20px;
      left: 35%;
      margin-top: 0;

      a {
        transition: all 0.35s ease-in-out;

        &:hover {
          color: $primary;
        }
      }
    }

    &__block {
      width: 800px;
      padding-bottom: 15px;
    }

    img {
      position: absolute;
      right: 10px;
    }

    &__body {
      min-height: 750px;
      max-height: 750px;
      overflow: auto;
    }

    &__NewMessage {
      @extend %centerFlex;
      border-top: 1px solid $border-color;
      margin-top: 10px;
      flex-direction: column;
      padding: 0 14px;

      button {
        @include size(100%, 35px);
      }
    }
  }
}