@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

@media (max-width: 1200px){
	.reminder-big__date
	{
		text-align: center !important;
	}
	.reminder-big__time
	{
		text-align: center!important;
	}
}

@media (max-width: 767px){
	.reminder-big__date
	{
		margin-left: -10px;
	}
}

.reminder-big {
	div {
		color: $light-black;
	}

	&__type {
		position: relative;
		font-size: 14px;
		padding-left: 15px;

		&:before {
			@include topLeft(50%, 0);
			@include box(5px);
			position: absolute;
			content: ' ';
			border-radius: 50%;
			transform: translateY(-50%);
		}

		&--primary {
			&::before {
				background: $primary;
			}
		}

		&--warning {
			&::before {
				background: $orange;
			}
		}

		&--remind {
			&::before {
				background: $dark-primary;
			}
		}

		&--purple {
      &::before {
        background: $purple;
      }
		}

		&--blue {
      &::before {
        background: $dark-primary;
      }
		}
	}

	&__title {
		font-size: 18px;
		margin-top: 15px;
		font-weight: 500;
	}

	&__time {
		text-align: right;
		font-size: 16px;
	}

	&__date {
		font-weight: 500;
		font-size: 18px;
		text-align: right;
		margin-top: 15px;
	}
}
