.friends__list {
  margin: 0;
}
@media (max-width: 768px)
{
  .friends
  {
    border: none;

    .input--simple
    {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .friends__item
  {
    padding-top: 20px;
  }
}