@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.news-last {
  &__item {
    &:nth-child(n+3) {
      .news-last {
        &__title {
          border-top: 1px solid $border-color-2;
        }
      }
    }
  }

	&__title {
    width: 100%;
    padding: 5px 0;
		font-size: 14px;
    font-weight: 500;
		display: inline-block;
    word-wrap: break-word;
	}

	&__dat {
    @extend %centerVerticallyFlex;
    margin: 5px 0;
	}

	&__date {
		font-size: 14px;
	}

  &__time {
    margin-left: 15px;
    font-size: 14px;
  }
}