@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.react-calendar {
  width: 255px;
  max-width: 100%;
  background: white;
  border: 1px solid $border-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 0;
  width: 10px;
  outline: none;
  color: $light-black;
  font-size: 14px;
  font-weight: 500;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: .5em;
  color: $grey;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 10px;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;
  padding: calc(1em) calc(0.66666667em);
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__month-view__days__day--neighboringMonth {
  time {
    color: $light-gray;
  }
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em .5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: .75em .5em;
  background: none;
}

button.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

button.react-calendar__tile:enabled:hover,
button.react-calendar__tile:enabled:focus {
  background-color: $primary;

  time {
    color: white;
  }
}

.react-calendar__tile--hasActive {
  background: rgba(46, 196, 182, 0.8);
}

button.react-calendar__tile--hasActive:enabled:hover,
button.react-calendar__tile--hasActive:enabled:focus {
  background: rgba(46, 196, 182, 0.6);
}

.react-calendar__tile--active {
  position: relative;
  background: $primary;

  &:after {
    @include box(25px);
    @include topLeft(50%, 50%);
    position: absolute;
    content: ' ';
    transform: translateX(-50%) translateY(-50%);
    background: $primary;
    border-radius: 50%;
    z-index: -1;
  }

  time {
    color: white;
  }
}

button.react-calendar__tile--active:enabled:hover,
button.react-calendar__tile--active:enabled:focus {
  background: $primary;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: rgba(46, 196, 182, 0.8);

  time {
    color: white;
  }
}

.react-calendar__navigation__label {
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}