@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.footer {
  position: relative;
  background: $primary;
  margin-top: 135px;
  box-shadow: 0px -3px 12px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;

  &--auth-page {
    margin-top: 0;
  }

  &__logo, &__logo-column {
    @extend %centerFlex;
  }
}

@media (max-width: 991px) {
  .footer {
    &__logo-column {
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 585px) {
  .footer {
    &__nav-item {
      padding: 0 15px;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__nav {
      flex-direction: column;
      align-items: center;

      &-item {
        &:nth-child(n+2) {
          margin-top: 20px;
        }
      }
    }
  }
}