@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.promo {
  position: relative;
  font-family: 'Rubik';

  .col.col-6 {
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
  }

  &__left {
    font-family: 'Rubik';
  }

  &__title {
    margin-top: 195px;
    font-size: 48px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 40px;
    font-family: 'Rubik';
  }

  &__subtitle {
    font-size: 24px;
    margin-top: 25px;
    font-weight: normal;
    font-family: 'Rubik';
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Rubik';
  }

  &__join {
    @include size(210px, 35px);
    font-size: 16px;
    margin-top: 37px;
    position: relative;
    background: $gradient__button;
    z-index: 999;
    font-family: 'Rubik';
  }

  &__right {
    position: relative;
    font-family: 'Rubik';
  }
}
