@import '../../Styles/common/color';

@media (max-width: 1200px) {
  .slide-menu
  {
    width: 260px;
    margin-left: -40px;

  }
  .slide-menu--active
  {
    width: 260px;
    margin-left: -40px;
  }
}
@media  (max-width: 1053px)  {
  .slide-menu
  {
    width: 260px;
    margin-left: 0px!important;
    margin-right: 10px;

  }
  .slide-menu--active
  {
    width: 260px;
    margin-left: 0px!important;
    margin-right: 10px;
  }
}
@media (max-width: 991px) {

  .slide-menu-icon {
    display: unset !important;
    position: absolute;
    top: 30%;
    left: 45%;

    &--active {
      display: unset !important;
      position: absolute;
      top: 30%;
    }
  }
  .slide-menu {
    padding-left: 5px;
    width: 30px !important;
    margin-left: 0;
    padding: 0px !important;
    position: fixed !important;
    left: -1px;
    margin-right: 0px;
    z-index: 10;
    width: 50px;

    height: 868px !important;
    & ul {
      display: none;
      padding-left: 5px;
      li
      {
        padding-right: 0px!important;
      }
    }
  }
  .slide-menu--active li:nth-child(n+1)
  {
    padding: 0 !important;
    padding-top: 20px!important;
    padding-left: 10px!important;
  }
  .slide-menu--active {
    width: 245px !important;
    margin-left: 0;
    padding-left: 0px !important;
  }
}
@media (min-width: 991px) {
  .slide-menu--active {
    position: relative!important;
    max-width: 270px;
    padding: 26px 24px;
    margin-top: 25px;
    display: block;
    width: unset;
    left: unset!important;

    &-icon {
      display: none;
    }

    &__title {
      padding-top: 30px;
      border-top: 1px solid $border-color;
    }

    &__nav {
      margin: 0;
    }

  }
}
@media (min-width: 992px){
  .slide-menu
  {
    top: 0!important;
  }

}
@media (max-width: 767px){
  .slide-menu
  {
    top: 28px!important;
  }
}

.slide-menu-icon{
  &--active {
    top: 10px!important;
    left: 10px;
  }
}

.slide-menu--active {
  padding-top: 20px !important;
  position: fixed !important;
  z-index: 10;
  left: 0px;
  padding-left: 20px;
  top: 0px;
  height: 878px;
  width: 200px;
  transition: all 90ms ease-out;
  padding-right: 30px !important;

  & li {
    padding-top: 20px;

    &:nth-child(1) {
      margin-top: 20px;
    }

    &:nth-child(n+1) {
      padding: 10px 20px;
    }

    &.item {
      &--active {
        a > span, .fa {
          color: $primary;
        }
      }

      &:hover {
        span {
          color: $primary;
        }
      }
    }

    & li span {
      padding-right: 0;
      padding-left: 10px;
      font-size: 15px !important;
    }
    &-icon {
      display: unset !important;
      position: absolute;
      right: 1px;
      font-size: 32px;

      &--active {
        display: unset !important;
        position: absolute;
        right: 1px;
        font-size: 32px;
      }
    }
  }
}
.slide-menu {
  position: relative;
  max-width: 270px;
  padding: 26px 24px;
  padding-right: 0px!important;
  margin-top: 25px;
  display: block;
  top: 86px;

  &-icon
  {
    display: none;
  }

  &__title {
    padding-top: 30px;
    border-top: 1px solid $border-color;
  }

  &__nav {
    margin: 0;
  }

  li {
    padding-right: 28px!important;
    position: relative;

    &:nth-child(n+2) {
      margin-top: 25px;
    }

    &.item {
      &--active {
        a > span, .fa {
          color: $primary;
        }
      }

      &:hover {
        span {
          color: $primary;
        }
      }
    }

    span {
      transition: all 0.2s ease-out;
      color: $link-color;
      font-size: 16px;
    }
  }

  &__notification-count {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.arrow-left__text{
  padding-top: 20px;
  font-size: 18px;
  margin-left: 10px;
}
.SlideMenu__cancel{
  cursor: pointer;

  &:hover {
    span {
      color: $primary;
      transition: all 0.35s;
    }
  }
}
.slide-menu
{
  cursor: pointer;
}