@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.promo__bubbles {
  &-image {
    position: absolute;
    border-radius: 50%;
    max-width: 195px;
    max-height: 195px;

    &:nth-child(1) {
      @include box(72px);
      @include topLeft(147px, 10px);
    }

    &:nth-child(2) {
      @include box(96px);
      @include topLeft(67px, 135px);
    }

    &:nth-child(3) {
      @include box(64px);
      @include topLeft(83px, 300px);
    }

    &:nth-child(4) {
      @include box(48px);
      @include topLeft(335px, 35px);
    }

    &:nth-child(5) {
      @include box(195px);
      @include topLeft(180px, 180px);
    }

    &:nth-child(6) {
      @include box(108px);
      @include topLeft(155px, 405px);
    }

    &:nth-child(7) {
      @include box(112px);
      @include topLeft(385px, 105px);
    }

    &:nth-child(8) {
      @include box(72px);
      @include topLeft(400px, 285px);
    }

    &:nth-child(9) {
      @include box(56px);
      @include topLeft(290px, 420px);
    }
  }

  &-shape {
    position: absolute;
    max-width: 45px;
    max-height: 45px;

    &:nth-child(10) {
      @include box(24px);
      @include topLeft(280px, -25px);
    }

    &:nth-child(11) {
      @include box(16px);
      @include topLeft(165px, 90px);
    }

    &:nth-child(12) {
      @include box(24px);
      @include topLeft(75px, 405px);
    }

    &:nth-child(13) {
      @include box(46px);
      @include topLeft(245px, 100px);
    }

    &:nth-child(14) {
      @include box(45px);
      @include topLeft(385px, 425px);
    }
  }

  &-char {
    color: $primary;
    font-size: 100px;
    font-weight: bold;
  }
}
