@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.legend-item {
  @extend %centerVerticallyFlex;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    @include box(16px);
    background: green;
    border-radius: 50px;
  }

  &--orange {
    &:before {
      background: $orange;
    }
  }

  &--green {
    &:before {
      background: $primary;
    }
  }

  &--blue {
    &:before {
      background: #28bbdb;
    }
  }

  &--purple {
    &:before {
      background: #ce45c0;
    }
  }

	&__text {
    margin-top: 25px;
		padding-left: 25px;
		font-size: 14px;
	}
}