@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

@media (max-width: 767px) {
  .vacancy__actions  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vacancy__button  {
    margin: 0!important;

  }
}

.vacancy {
  padding: 25px 35px;

  &__actions {
    margin-top: 70px;

    button {
      @include size(150px, 30px);

      &:nth-child(2) {
        margin-left: 25px;
      }
    }
  }

  &__profile {
    @extend %centerVerticallyFlex;
    height: 50px;
    margin-bottom: 25px;
  }

  &__full-name {
    margin-left: 25px;
    cursor: pointer;
    color: $primary;
    font-weight: 500;
  }

  strong {
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__price {
    margin-top: 15px;
  }

  &__person{
    margin-top: 15px;
  }

 &__Conditions {
   margin-top: 15px;

   &__text{
     padding-right: 25px;
     margin-top: 5px;
   }

   &__work {
     margin-top: 15px;
   }
  }

  &__Address {
    margin-top: 15px;

    div {
      margin-top: 10px;
    }
  }
}
