@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.notification__count {
  cursor: default;
  @include box(16px);
  @extend %centerFlex;
  box-shadow: 0 1px 7px 0 rgba(152, 152, 152, 0.5);
  border-radius: 2px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;

  &--hidden {
    display: none;
  }

  &--white {
    background: white;
    color: $primary !important;
  }

  &--gray {
    background: $light-gray;
    color: white;
  }
}
