@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.progress {
  position: relative;
  border-radius: 50px;
  background: $light-gray;

  &__fill {
    @include box(100%);
    @include topLeft(0, 0);
    position: absolute;
    background: $primary;
  }
}
