@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

@media (max-width: 767px){
  .TopicComment {
    &__Left {
      background: transparent !important;
      a {
        p {
          color: #000000;
        }
      }
    }
    &__Right {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      text-align: center;
      &__date {
        text-align: right;
        float: right;
        margin-top: 20px;

      }
    }
    border-bottom: 1px solid $border-color;
  }
}

.TopicComment {
  padding: 20px;

  &:nth-child(n+2) {
    border-top: 1px solid $border-color;
  }

  &__Left {
    @extend %centerFlex;
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $primary;

    img {
      @include box(90px);
    }

    p {
      color: White;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__Right  {
    &__date {
      font-size: 12px;
      margin-bottom: 15px;
      color: $border-color-2;
    }
  }
}