@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.news-preview {
	display: flex;
	max-width: 930px;
	min-width: 930px;
	margin-bottom: 50px;
	font-family: 'Rubik';

	&__full-date {
		width: 65px;
		color: white;
		text-align: center;
		font-family: 'Rubik';
	}

	&__date {
		@include box(65px);
		display: table-cell;
		vertical-align: middle;
		background-color: rgba(46, 196, 182, 0.6);
		font-size: 14px;
		line-height: 1.7;
		color: white;
		font-family: 'Rubik';
	}

	&__day {
		@include box(65px);
		line-height: 65px;
		background: $primary;
		font-size: 38px;
		color: white;
		font-weight: 500;
		font-family: 'Rubik';
	}

	&__content {
		margin-left: 32px;
		font-family: 'Rubik';
	}

	&__title {
		padding-right: 35px;
		font-size: 16px;
		font-weight: 500;
		font-family: 'Rubik';
	}

	&__text {
		padding-right: 35px;
		margin-top: 10px;
		font-size: 14px;
		line-height: 1.7;
		font-family: 'Rubik';
	}

	&__link {
		display: block;
		color: $primary;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: underline;
		margin-top: 15px;
		font-family: 'Rubik';
	}

	&__image {
		max-width: 255px;
		max-height: 190px;
		object-fit: cover;
		font-family: 'Rubik';
	}
}
