@import '../../Styles/common/color';

.input__open-password {
  cursor: pointer;
  color: $light-black;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  font-size: 16px;
  transition: all 0.35s ease-out;

  &:hover {
    opacity: 1;
  }
}