@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';

@media (max-width: 767px) {
  .question-details
  {
    &__header{
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img      {
        margin-bottom: 10px;
      }
      .question-details__title
      {
        margin-bottom: 20px;
      }
    }
    &__info{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0!important;
      .question-details__date
      {
        margin-top: 10px;
        font-size: 12px;
      }
    }
    &__comment{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-header
      {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        a{
          margin-top: 12px;
        }
      }
    }
  }
}


.question-details {
  margin-top: 25px;
  padding: 15px 25px;

  &__back {
    color: $border-color-2;


    .fa {
      color: $border-color-2;
      margin-right: 5px;
    }
  }

  &__delimiter {
    margin-top: 15px;
    @extend %centerFlex;
    @include size(100%, 35px);
    background: $border-color;
    border: 1px solid $border-color-2;

    .fa {
      margin-right: 10px;
    }
  }

  &__header {
    display: flex;
    margin-top: 30px;

  }

  &__title {
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 500;
  }

  &__info {
    position: relative;
    display: flex;
    margin-left: 63px;
  }

  &__user {
    cursor: pointer;
    margin-right: 10px;
    color: $primary;
  }

  &__date {
    color: $border-color-2;
  }

  &__close {
    position: absolute;
    @include size(150px, 25px);
    right: 0;
    top: 0;
  }

  &__comments-add {
    button {
      @include size(100%, 35px);
      margin-top: 15px;
    }
  }

  .comment-add {
    label {
      display: block;
      margin-top: 25px;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
    }
  }
}