@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

@media(max-width: 992px) {
  .header__search
  {
    right: 28px !important;

   &-icon
   {

   }
  }
}
.header__search {
  position: absolute;
  top: 0;
  right: 85px;
  width: 88%;
  display: flex;
  z-index: 10;

  &--hidden {
    z-index: 0;

    .header__search-input {
      opacity: 0;
      cursor: default;
    }
  }

  &-input {
    position: relative;
    @include size(100%, 40px);
    margin-right: 20px;
    background: $primary;
    border: 0;
    caret-color: white;
    border-bottom: 1px solid white;
    padding: 0 10px;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.25s ease-out;

    &::-webkit-input-placeholder {
      color: white;
      font-size: 16px;
      font-weight: 500;
    }

    &:focus {
      outline: none;
    }
  }

  &-icon {
    top: 20px;
    cursor: pointer;
    position: absolute;
    right: -7px;
  }
}