@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.dialog {
  &__header {
    @extend %centerFlex;
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1;

    div {
      width: (100% / 3);
    }
  }

  &__fullName {
    cursor: pointer;
    font-weight: 500;
    color: $light-black;
    text-align: center;
  }

  &__back {
    cursor: pointer;
    color: $light-gray;
    font-size: 14px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;

    .fa {
      color: $light-gray;
      margin-right: 5px;
      margin-left: 10px;
    }
  }

  &__avatar {
    img {
      @include box(40px);
      border-radius: 50%;
      float: right;
      object-fit: cover;
    }
  }
}
