@import './Styles/common/color';
@import './Styles/common/mixin';

body {
  background: white;

  .wrapper {
    background: white;

  }

  .header {
    &__card {
      @extend %centerHorizontallyFlex;
      height: 56px;
      padding: 0;
      background: $primary;
    }
  }
}

.Header__index {
  position: relative;
  z-index: 10;
}

.promo__shapes {
  width: 100%;
  position: absolute;

  img {
    position: absolute;

    &:nth-child(1) {
      @include size(280px, 505px);
      @include topLeft(250px, -185px);
      transform: rotate(5deg);
    }

    &:nth-child(2) {
      @include box(70px);
      @include topLeft(41px, 106px)
    }

    &:nth-child(3) {
      @include size(183px, 504px);
      right: 0;
      top: 100px;
    }
  }
}

@media (max-width: 1200px) {
  .header__nav-item {
    padding-right: 8px;
  }
}

@media(max-width: 992px) {
  .Header__index {
    .body .header__card {
      height: auto;
    }
  }

  body .header__card {
    height: unset !important;
  }

  .header__nav {
    margin: 20px 0;

    &-item {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}

@media (max-width: 991px) {
  .SlideMen {
    flex-grow: 0;
  }

  .content {
    padding-left: 0;
  }
}

@media (max-height: 800px) {
  .App {
    > .wrapper {
      height: initial;
    }
  }
}


