@import '../../../Styles/common/color';
@import '../../../Styles/common/mixin';

.summary__education-item {
  position: relative;

  .fa {
    cursor: pointer;
    position: absolute;
    display: none;
    color: $orange;
    top: 3px;
    right: -80px;
  }

  &:nth-child(n+3) {
    .fa {
      display: block;
    }
  }
}