@import "../../Styles/common/mixin";

.file-upload {
  width: 100% !important;
  height: 100% !important;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  button {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
  }

  input[type="file"] {
    cursor: pointer;
    width: 100% !important;
    height: 100% !important;
    @include topLeft(0, 50%);
    position: absolute;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}