@import '../../Styles/common/mixin';

.pdf-decorator {
  @extend %centerFlex;
  flex-direction: column;
  height: 250px;

  &__text {
    font-weight: 600;
    font-size: 38px;

    .fa {
      display: block;
      text-align: center;
      margin-top: 5px;
    }
  }
}