$primary: #2EC4B6;
$gray: #FAFAFA;
$gray-darker: #F8F8F8;
$grey: #A3A7AC;
$light-black: #3c4450;
$orange: #E37550;
$dark-primary: #4a90e2;
$purple: #CE45C0;

$shadow-color: rgba(60, 68, 80, 0.2);
$border-color: #EBECED;
$link-color: #626872;
$light-gray: #9da1a7;
$border-color-2: rgba(157, 161, 167, 0.7);
$light-primary: rgba(46, 196, 182, 0.6);
$gradient__button: linear-gradient(to top, #33cec4, #51ecd5);