@import '../../../Styles/common/color';
@import '../../../Styles/common/mixin';

@media (max-width: 1199px) {
  .questions__title  {
    margin-top: 40px!important;
  }
}

@media (max-width: 991px){
  .qa-question
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__middle    {
      margin: 0;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__text{
      width: unset!important;
      max-width: unset!important;
      position: unset!important;
      .qa-question__status--visible
      {
        right: 5px;
        top: 80%;
        z-index: 10;
      }
    }
    & .comments    {
      top: 15px;
      right: 30px;
      z-index: 0;
    }
  }
}
@media (max-width: 767px){
  .qa-question  {
    &__text{
      white-space:unset!important;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .qa-question__status      {
        position: relative!important;
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    &__created{
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      .qa-question__date      {
        font-size: 12px;
      }
      .qa-question__user      {
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 480px) {
  .comments
  {
    display: none!important;
  }

}
.qa-question {
  position: relative;
  cursor: pointer;
  @extend %centerVerticallyFlex;
  transition: all 0.25s ease-out;
  padding: 10px 5px;

  &:nth-child(1) {
    margin-top: 25px;
  }

  &:nth-child(n+2) {
    border-top: 1px solid $border-color;
  }
  
  &:hover {
    background: #ebebeb;
  }

  &__middle {
    margin-left: 15px;
  }

  &__text {
    position: relative;
    max-width: 550px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  &__created {
    font-size: 14px;
    margin-top: 5px;

    span {
      color: $light-gray;
    }
  }

  &__user {
    margin-left: 15px;
  }

  &__comments {
    @include size(50px, 40px);
    @extend %centerFlex;
    position: absolute;
    right: 15px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    color: $light-gray;

    .fa {
      margin-right: 5px;
      display: block;
      color: $light-gray;
    }
  }

  &__actions {

  }
}