.home {
  .rwt__tabs[data-rwt-vertical="true"] {
    display: flex;
  }
    
  .rwt__tablist:not([aria-orientation="vertical"]) {
    background: #fafafa;
    position: relative !important;
    z-index: 1;
    border-bottom: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px -3px 0px -4px;
    display: flex;
    justify-content: space-around;
  }
    
  .rwt__tablist[aria-orientation="vertical"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #2EC4B6;
    margin-right: 1rem;
  }
    
  .rwt__tab {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: 14px;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    color: #9da1a7;
    padding: 0 !important;
    }
    
  .rwt__tab[aria-selected="false"]:hover {
    color: Black;
    font-size: 14px !important;
  }
    
  .rwt__tab:focus {
    outline: 0;
  }
    
  .rwt__tab[aria-selected="true"] {
    position: relative;
    color:Black !important;
    border:none !important;
    font-size: 14px !important;
  }
    
  .rwt__tab[aria-selected="true"]:after {
    content: '';
    position: absolute;
  }
    
  .rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #2EC4B6;
    border-bottom: none !important;
  }
    
  .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: 2px solid #2EC4B6;
  }

  #one-tab {
    padding-left: 10px !important;;
  }

  #five-tab {
    padding-right: 10px !important;
  }

  .rwt__tablist {
    display: flex;
    justify-content: center;
  }

  .rwt__tabpanel {
    margin-left: 0;
  }
}