@import '../../Styles/common/color';

.add-remind {
	.api__message {
		text-align: left;
		margin-top: 10px;
		padding: 0;
	}

	&__card {
    padding: 25px 25px 25px 40px;
    margin-top: 35px;
	}

	&__header {
	  color: $light-black;
	  font-size: 18px;
	  margin: 0;
	}

	&__form {
		margin-top: 10px;

		button[type="submit"] {
			padding: 8px 20px;
			margin-top: 25px;
		}
	}

	&__medicament {
		margin-top: 15px;

		label {
			padding: 8px 15px;
			display: inline-block;
		}

		.radio-button-group__title {
			margin-bottom: 5px;
		}
	}

	&__dosage {
		width: 100px;
		margin-top: 20px;

		label {
			margin-bottom: 5px;
		}

		input {
			width: 100px !important;
		}
	}

	&__block {
		display: flex;
		margin-top: 40px;

    .react-datepicker-wrapper {
      input {
        height: 32px;
      }
    }
	}

	&__DropDownList {
		margin-left: 40px;
		position: relative;
		height: 56px;

		&__header {
      font-size: 14px;
      color: $light-black;
      position: relative;
      z-index: 0;
      font-weight: unset;
      margin: 0 0 4px;
    }

		&__Input {
      color: $light-black;
      font-weight: unset;
      font-family: 'Montserrat', sans-serif;
      border: 1px solid $border-color-2;

      select {
        border-bottom: 0;
        font-weight: 400;
        height: 32px;
      }
		}
	}

	& .radio-button {
		height: 32px;
		width: 132px;
		padding-top: 6px;
	}
}

.add-remind__medicament {
	position: relative;
	z-index: 0;
}

.add-remind__dosage {
	position: relative;
	z-index: 0;	
}

.add-remind__form button[type="submit"]
{
	position: relative;
	z-index: 0;
}
.react-datepicker-popper
{
	    min-width: 350px;
}
.AddReminder__button
{
	display: none;
}