@import "../../Styles/common/color";
.rbc-month-row + .rbc-month-row {
    border-top: 1px solid #DDD;
}
.rbc-month-row {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 0 0;
    overflow: hidden;
    height: 100%;
 }
 .rbc-row-bg {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    overflow: hidden;
}
.rbc-abs-full, .rbc-row-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.rbc-row
{
//	height: 100px;
}
.Bigcalendar
{
	padding-top: 20px;
    margin-left: -20px;
	display: flex;

    justify-content: center;
    align-items: center;
}
.Bigcalendar-cal
{
	width: 95%;
}
.rbc-month-header 
{
	height: 31px!important;
}
/*.rbc-btn-group :nth-child(1) > button:first-child:not(:last-child)
{
    visibility: hidden;
}

.rbc-btn-group :nth-child(1)
{
   display: none;
}
.rbc-btn-group :nth-child(4)
{
    display: none;
}

.rbc-btn-group:nth-child(3) > button:nth-child(2)
{
    display: none;
}
.rbc-btn-group:nth-child(3) > button:nth-child(3)
{
    display: none;
}
.rbc-btn-group:nth-child(1)
{
    position: absolute;
    left: 35%;
    z-index: 10;
}
.rbc-btn-group:nth-child(1) > button:nth-child(2)
{
    margin-right: 140px;
    content: "safasf";
} */
.rbc-date-cell
{
    height: 100px;
}
.web
{
    background: Green;
}
.rbc-event-content
{
    color: White;
}
.rbc-agenda-date-cell, .rbc-agenda-time-cell
{

}
.rbc-continues-after
{
    color: White;
}

.rbc-continues-prior
{
    color: White;
}
.rbc-now
{
    background: White;
    border: 1px solid #ECECEC;
    & a 
    {
        color: $primary;
    }
}
.rbc-off-range
{
    background: White;
    border: 1px solid #ECECEC;
    color: #888a8c;
    a
    {
        opacity: 0.3;
    }
}
.rbc-date-cell
{
    color: #888a8c;
}
.rbc-btn-group
{
   & .rbc-active
    {
        background-color: $primary !important;
        color: White !important;
    }
}
.rbc-event-label{
    color: white;
}
