@import "../Styles/common/color";
@import "../Styles/common/mixin";

.index-money {
	margin-top: 100px;
	font-family: 'Rubik'
}

.index__money__header {
  margin-left: 35px;
	font-family: 'Rubik';

	&__header {
		font-size: 32px;
		color: $light-black;
		margin-bottom: 7px;
		font-weight: normal;
		font-family: 'Rubik'
	}

	&__text {
    max-width: 460px;
		margin-top: 0;
		font-size: 16px;
		font-weight: 300;
		color: $link-color;
		line-height: 1.5;
		font-family: 'Rubik'
	}
}

.news__container {
  @extend %centerVerticallyFlex;
  flex-direction: column;
  margin-top: 55px;
  font-family: 'Rubik'
}

.index__news {
	margin-top: 80px;
  padding-left: 35px;
	font-family: 'Rubik';

	&__header {
		font-size: 32px;
		color: $light-black;
		margin-bottom: 0px;
		font-weight: normal;
		font-family: 'Rubik'
	}

	&__text {
		margin-top: 0px;
		font-size: 16px;
		font-weight: 300;
		color:$link-color;
		margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Rubik'
	}

  .news {
    &__show-all {
      @include size(180px, 40px);
      margin-bottom: 150px;
      margin-top: 50px;
      background: $gradient__button;
      font-family: 'Rubik'
    }
  }
}

.index__help__header {
	font-size: 32px;
	line-height: 1.63;
	color: $light-black;
	font-weight: normal;
	margin-left: 70px;
	font-family: 'Rubik';
	margin-bottom: 40px;
}

.dr {
 background-image: linear-gradient(252deg, #229187, #30c2b9 48%, #51ecd5);
}

.owl-stage {
  display: flex;
  margin-bottom: 25px;
}

.owl-item.active {
  @extend %centerHorizontallyFlex;
}

.news-preview__content {
	min-width: 575px;
}

.MoneyHelp__carusel {
  overflow: hidden;
}

.news__container__min {
	margin-bottom: 40px;
}

.Buttons__news {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1374px) {
  .Communication__block__image {
    img {
      width: 1082px;
    }
  }
}

@media (max-width: 1281px) {
  .Communication__block__image {
    img {
      margin-right: 0px;
    }
  }

  .Communication__block__Above {
    padding-left: 30px;

    &__header {
      font-size: 24px;
    }

    &__text {
      width: 360px;
    }

    .grid-item {
      margin-left: 33px;
    }
  }

  .Communication__block__Card__right__block,
  .Communication__block__Card__bottom__block {
    width: 400px;
  }

  .Communication__block__Card__right__bottom__block {
    width: 400px;
    margin-top: 160px;
  }

  .promo__shapes {
    img {
      &:nth-child(1) {
        height: 363px !important;
        top: 74px !important;
        left: -170px !important;
      }

      &:nth-child(3) {
        @include size(125px !important, 333px !important);
      }
    }
  }
}

@media (max-width: 1200px) {
  .index__money__header {
    margin-top: 80px;
    margin-left: 0;
  }

  .Communication {
    height: initial;
    margin-top: 125px;
    margin-bottom: 0;

    .grid-item {
      display: none;
    }

    &__block {
      display: none;

      &__Above {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        margin-left: 0;
      }

      &_Card {
        position: relative;
        margin: 25px 0;
      }
    }
  }

  .sponsor__egg {
    display: none	;
  }

  .About__all__block_sponsor__line1 {
    &__image {
      &__1 {
        width: 150px !important;
        height: 65px !important;
      }

      &__2 {
        width: 180px !important;
        height: 25px !important;
      }

      &__3 {
        width: 120px !important;
        height: 35px !important;
      }

      &__4 {
        width: 250px !important;
        height: 65px !important;
      }
    }
  }
}

@media (max-width: 1100px) {
  .news-preview {
    max-width: 900px;
    min-width: 900px;

    &__content {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .About__all__block_sponsor__line1,
  .About__all__block_sponsor__line2 {
    display: flex;
    flex-direction: column;

    a {
      margin-top: 20px;

      img {
        margin: 0;
        padding: 0;
      }
    }
  }

  .index__help__header {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .promo__left {
    text-align: center;
  }

  .promo__right {
    margin-bottom: 0;
  }

  .promo__bubbles-image {
    &:nth-child(-n+10) {
      display: none;
    }

    &:nth-child(11) {
      left: 150px;
    }

    &:nth-child(12) {
      left: 465px;
    }

    &:nth-child(13) {
      left: 160px;
    }

    &:nth-child(14) {
      left: 485px;
    }
  }

  .promo__bubbles-shape {
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14) {
      display: none;
    }
  }

  .news-preview__image {
    max-width: 200px;
    height: auto;
  }

  .index__news {
    padding-left: 0;
  }

  .news-preview {
    min-width: 717px;
    max-width: none;

    &__content {
      min-width: 450px;
    }

    &__text {
      padding-right: 10px;
    }
  }
}

@media (max-width: 767px) {
  .news__show-all {
    margin: 25px 0 !important;
  }
}

@media (max-width: 670px) {
  .promo__bubbles-image {
    &:nth-child(1) {
      left: -10px;
    }

    &:nth-child(2) {
      left: 135px;
    }

    &:nth-child(3) {
      left: 300px;
    }

    &:nth-child(4) {
      left: 35px;
    }

    &:nth-child(5) {
      left: 180px;
    }

    &:nth-child(6) {
      left: 385px;
    }

    &:nth-child(7) {
      left: 105px;
    }

    &:nth-child(8) {
      left: 305px;
    }

    &:nth-child(9) {
      left: 430px;
    }

    &:nth-child(10) {
      left: -15px;
    }

    &:nth-child(11) {
      left: 100px;
    }

    &:nth-child(12) {
      left: 405px;
    }

    &:nth-child(13) {
      left: 100px;
    }

    &:nth-child(14) {
      left: 425px;
    }
  }
}

@media (max-width: 527px) {
  .promo__right {
    display: none;
  }
}

@media (max-width: 500px) {
  .Communication__block_Card {
    width: 310px;

    &__header {
      padding-left: 15px;
      margin-left: 0;
    }

    &__text {
      padding: 20px 15px;
    }
  }
}

@media (max-width: 450px) {
  .promo {
    &__description {
      font-size: 14px;

      br {
        display: none;
      }
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .index__money__header  {
    padding: 0;
  }

  .About__all__block_sponsor__line1,
  .About__all__block_sponsor__line2 {
    display: flex !important;
    justify-content: center !important;

    img {
      width: 75%;
      margin: 0 !important;
    }

    a {
      display: flex;
      justify-content: center;
    }
  }

  .index__help__header {
    margin: 0 auto;
  }

  .money-help {
    width: 310px;

    &__left {
      padding-right: 15px;
    }

    &__right {
      padding-left: 15px;
    }
  }
}