@import "./common/color";
@import "./common/mixin";

@media (max-width: 1200px) {
  .NewsGlobal__Block  {
    width: unset!important;
  }

}
@media (min-width: 992px) and (max-width: 1042px){
  .NewsPage
  {
    margin-left: 0px!important;
  }
}
@media (min-width: 992px) and (max-width: 1054px){
  .news-full__block__Left  {
    margin-left: 15px;
  }
}
@media (max-width: 991px) {
  .NewsGlobal__Block__image__img  {
    height: unset !important;
  }
  .NewsPage__block__item  {
    width: 450px!important;
  }
  .NewsGlobal__Block__text__header  {
    font-size: 18px !important;
  }
  .NewsGlobal__Block__text__txt  {
    font-size: 12px !important;
  }
  .news-full__All
  {
    margin-left: 0px!important;
    margin-top: 20px!important;
  }
}

@media (max-width: 575px) {
  .NewsPage
  {
    display: flex;
    margin-left: 0px!important;
  }
  
}

@media (max-width: 530px) {
  .NewsPage
  {
    .NewsGlobal__Block__date
    {
      width: 110px;
      text-align: center;
      font-size: 14px;

    }
    .NewsGlobal__Block__image
    {
      width: 300px;
    }
    .NewsGlobal__Block__text
    {
      width: 200px;

      &__header
      {
        font-size: 16px!important;
      }
    }
    .NewsGlobal__Block
    {
     width: 300px!important;
      margin: 0px auto;
    }
  }
  .NewsPage__block
  {
    width: 100%;
    display: flex!important;
    justify-content: center!important;
  }
  
}

@media (max-width: 465px) {
  .NewsPage__block__item  {
    margin-left: 15px!important;
  }
  .news-full__header__title  {
    font-size: 18px!important;
  }
  .news-full__content  {
    font-size: 14px!important;
  }
  .news-full__block__Left  {
    margin-left: 20px!important;
  }
}
@media (max-width: 385px) {
  .NewsGlobal__Block__image
  {
    width: 250px!important;
  }
  .NewsGlobal__Block__text
  {
    width: 230px!important;
    margin: 0!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .NewsGlobal__Block__text__header
  {
    width: 100%!important;
  }
  .NewsPage .NewsGlobal__Block
  {
    width: 240px!important;
  }
}
.NewsPage__block__item{

  width: 100%!important;
  margin: 0 auto;
}
.news-full {
	margin-top: 25px;
	height: 100%;
  position: relative;
  z-index: 0;

	&__header {
    margin-top: 25px;

		&__title {
			padding: 5px;
			font-size: 24px;
      font-weight: 500;
			margin-top: 0;
			text-align: justify;
		}
	}

  &__time, &__date {
    font-size: 12px;
    margin: 0 5px;
    color: $grey;
  }

  &__image {
    width: 100%;
    object-fit:cover;
  }

  &__content {
    margin-top: 25px;
    padding: 0 5px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
  }

	&__block {
		position: relative;
	}

	&__All {
    max-height: 660px;
		position: sticky;
    top: 0;
    margin-left: 25px;
		overflow: hidden;
		overflow-y: auto;

		&__header {
      @extend %centerFlex;
			height: 40px;
      margin: 0 -15px;
			background: $primary;
			color: White;
		}
	}
}
.news__container{
  transition: all 0.35s ease-out;
}