@import './common/mixin';

.news-create {
  margin-top: 25px;
  padding: 25px;

  &__field {
    label {
      margin-bottom: 5px;
    }
  }

  textarea {
    width: 100%;
  }

  &__text {
    margin-top: 25px;

    label {
      display: block;
    }
  }

  h4 {
    margin-top: 0;
  }

  .file-upload {
    margin-top: 30px;
  }

  .api__message {
    margin-top: 25px;
  }

  &__submit {
    margin-top: 10px;
    @include size(100%, 30px);
  }
}
.summary__Image
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  img
  {
    @include box(250px);
    object-fit: cover;
    margin-bottom: 10px;
  }
  input
  {
    margin-left: 50px;
  }
}