@import './common/mixin';
@import './common/color';

.questions {
  position: relative;
  margin-top: 25px;
  padding: 15px 25px;

  &__user-question {
    max-height: 177px;
    overflow-y: auto;

    h4 {
      margin-bottom: 5px;
    }
  }

  .specialist--query {
    margin-top: 25px;
  }

  &__title, &__subtitle {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: 15px;
  }

  &__add {
    @include size(100%, 35px);
    margin-top: 25px;
  }

  &__back {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 17px;
    color: $border-color-2;

    .fa {
      color: $border-color-2;
    }
  }
}