
@media (max-width: 558px) {
  .Vacancy__Card {
    padding-bottom: 20px;
    height: unset!important;
  }
}

@media (max-width: 440px) {
  .Vacancy__header  {
    text-align: center;
  }
  .Vacancy__person  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Vacancy__Conditions__header  {
    text-align: center;
  }
  .Vacancy__Conditions__text  {
    margin-left: 10px;
    padding-right: 0px!important;
  }
  .Vacancy__Conditions__work  {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .Vacancy__header
  {
    font-size: 24px;
  }
}

.Vacancy {
  margin-top: 25px;
}