@import './common/color';
@import "../../node_modules/react-treeview/react-treeview.css";

.wiki {
  margin-top: 15px;
  padding: 20px 10px;
  font-size: 14px;
  display: flex;

  &__tree {
    padding-right: 10px;
    border-right: 1px solid $border-color-2;
  }

  &__content {
    margin-left: 10px;
  }
}

.WikiStruct__modal__card {
 width: 700px;
}

.WikiStruct__image {
  display: flex;
  flex-direction: column;

  image {
    object-fit: cover;
  }
}

.WikiStruct__About {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }
}

.WikiStuct__Images {
  object-fit: cover;
}

.wiki__tree__add {
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  color: $border-color-2;
}