@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.header {
  @extend %centerFlex;
  height: 100%;
  position: relative;

  &__nav {
  	margin: 0;
  }
}

.Header__search {
  position: absolute;
  width: 88%;
  top: 10px;
  display: flex;
  z-index: 0;

  &__text {
    label {
      color: white !important;
      display: none;
    }

    input {
      width: 0;
      border: none;
      color: white;
    }
  }
}

.Header__search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.-activity {
  background: $primary;
  display: flex;
  z-index: 1;

  label {
    display: unset;
    color: white !important;
  }

  input {
    width: 100%;
    border-bottom: 1px solid white!important;
    color: white;
  }
}
