@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.Communication__block_Card {
	position: absolute;
	width: 450px;
	z-index: 1;
	display: flex;
  flex-direction: column;
  font-family: 'Rubik';

	&__header {
		 margin: 0;
		 margin-top: 20px;
		 margin-left: 32px;
		 font-size: 24px;
		 color: $light-black;
		 font-family: 'Rubik';
		 font-weight: normal;
	}

	&__text {
		margin: 0;
		padding: 30px;
		padding-top: 20px;
		padding-bottom: 5px;
		line-height: 1.5;
		font-family: 'Rubik';
	}

	&__href {
		color: $primary;
		text-decoration: underline;
		padding-left: 30px;
		margin-top: 20px;
		margin-bottom: 15px;
	 	font-size: 14px;
		font-weight: 500;
		line-height: 1.5;
		text-transform: uppercase;
		font-family: 'Rubik';
	}
}
